img {
    width: 100%;
    height: 100%;
}

.background_green {
    background: #1BBB9C;
}

.background_grey {
    background: #3B546D;
}

.background_dark_grey {
    background: #2A3B4D;
}

.ms_nav {
    min-height: 80px;
    background: #2C3E50;
}

.ms_nav a {
    color: white !important;
}

#jumbo {
    min-height: 480px;
    text-align: center;
}

.jumbo_content {
    min-height: 480px;
}

.picture {
    width: 220px;
}

.picture_and_title h1 {
    color: white;
}

.picture_and_title h5 {
    color: white;
}

.line_and_star {
    width: 60%;
}

#ls_width_one {
    width: 40%;
}

.line {
    width: 40%;
    height: 3px;
    background: white;
}

#black {
    background: black;
}

#star {
    font-size: 25px;
    color: white;
}

#black_star {
    font-size: 25px;
    color: black;
}

.portfolio_card {
    min-height: 260px;
    border-radius: 10px;
    overflow: hidden;
}

#about {
    color: white;
}

#about .container, #contact .container {
    max-width: 985px;
}

.download_button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: transparent;
    transition: 100ms linear;
}

.download_button:hover {
    background: rgba(0, 0, 0, 0.1);
}

#contact {
    min-height: 400px;
}

#send {
    color: white;
    background: #1BBB9C;
}

footer {
    color: white;
}