body [class*="col-"] {
    border: 2px dashed black;
}

header [class*="col-"] {
    height: 50px;
}

header {
    background: #2C3E50;
}

.picture {
    height: 200px;
}

.first_section_content {
    min-height: 80px;
}

.first_section, .third_section {
    background: #1BBB9C;
}

.second_section_title, .third_section_title, .third_section_button {
    height: 100px;
}

.third_section_content {
    height: 150px;
}